# Git
.git
.gitignore

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
.venv/
venv/
ENV/

# Môi trường (Cực kỳ quan trọng để bảo mật)
.env
.env.*

# File hệ thống
.DS_Store
Thumbs.db

# Thư mục chứa rác/file tạm
uploads/
output/
scratch/
